/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(red,yellow);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  #downloadBtn {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 15px 32px; /* Ensure proper size */
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  #downloadBtn:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  